<!doctype html>
<html lang="en" ng-app="SemWeb2015">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SemWeb2015</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.6/css/foundation.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-sanitize.min.js"></script>
    <script src="js/controller.js"></script>

    <script type="text/javascript" src="http://visapi-gadgets.googlecode.com/svn/trunk/termcloud/tc.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1");
    </script>
</head>
<body ng-controller="SimpleController">


    <div class="content">
        <div class="row" id="inputbox-row">
            <div class="small-12 columns">
                <form ng-submit="update()">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input type="text" placeholder="http://..." ng-model="fetchUrl"/>
                        </div>
                        <div class="small-2 columns">
                            <button type="submit" class="button postfix">go</button>
                        </div>
                    </div>
                </form>
                <a href="#" ng-click="test()">test</a>
            </div>
        </div>
        <div class="row" id="spinner-row">
            <div class="small-12 columns">
                <div>
                    <div class="spinner-container" ng-show="loading">
                        <div class="spinner animated-show-hide" >
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="content-row">
	        <div class="small-2 columns">
	            &nbsp;
	            <div id="tcdiv" ng-show="content"></div>
                <div id="twitter-div">
                    <div ng-show="twitter.loading">...loading tweets</div>
                    <div>{{twitter.message}}</div>
                    <div class="tweet" ng-repeat="tweet in twitter.tweets">
                        <div class="author">
                            <div class="name">
                                {{::tweet.author.name}}
                            </div>
                            <div class="screenname">
                                <a ng-href="http://twitter.com/{{tweet.author.screenName}}">
                                    @{{::tweet.author.screenName}}
                                </a>
                            </div>
                        </div>
                        <div class="text" ng-bind-html="::tweet.text | linky"></div>
                    </div>
                </div>
	        </div>
            <div class="small-6 columns">
                <div ng-show="errormessage">
                    <span>{{errormessage}}</span>
                    <pre class="stacktrace">{{stacktrace}}</pre>
                </div>
                <div ng-show="content">
                    <!--<div>{{text | limitTo: 300}}{{ text.length > 300 ? '...' : ''}}</div>-->
                    <h3>{{content.title}} <i class="fa fa-smile-o {{ toggleSentimentsValue ? 'toggle' : '' }}" id="positive-smiley" ng-hide="loading" ng-click="toggleSentiments()"></i> </h3>
                    <span ng-repeat="block in content.textBlocks" class="{{block.isHeading ? 'heading'  : 'block'}}">
                        <br>
                        <span ng-repeat="sentence in ::block.sentences" class="sentence {{::sentence.type}} {{ toggleSentimentsValue ? 'toggle' : '' }}" ng-class="::sentence.sentiment">
                            <!-- use one-time bindings (::) as the sentence models should not change -->
                            <span ng-repeat="entity in ::sentence.fragments">{{::entity.before}}<span
                                    class="{{::entity.type != 'O' ? 'entity'  : ''}}"
                                    ng-class="::entity.type"
                                    ng-mouseover="entityMouseEnter($event)">{{::entity.text}}</span>{{::entity.after}}</span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="small-4 columns">
                <div ng-show="hover.show" id="hover-popup">
                    <img ng-show="hover.imageUrl" ng-Src="{{hover.imageUrl}}" />
                    <div ng-bind-html="hover.descriptionHtml"></div>
                    <div class="loading" ng-show="hover.loadingInfo">loading Information about <b>{{hover.name}}</b> ({{hover.type}}) ...</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>